<div class="Fondo">
    <div class="container">
    
      <div class=Contenedor-InicioSesion>
        <form>
          <div class="form-group">
            <label for="subject">Correo Electrónico:</label>
            <br>
            <input #email type="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="subject">Contraseña:</label>
            <br>
            <input #contrasena type="password" class="form-control" required>
          </div>
          <input class="ingresar btn btn-success" type="submit" title="Ingresar" (click)="Validar(email.value, contrasena.value)">
        </form>
      </div>
    </div>
  </div>
  