<header>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/catalogo">La bodega</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/catalogo"><img width="20px" height="20px" src="../recursos/iconos/002-show-apps-button.svg"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/catalogo"><img width="20px" height="20px" src="../recursos/iconos/004-commerce.svg"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/catalogo"><img width="20px" height="20px" src="../recursos/iconos/001-inbox.svg"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/"><img width="20px" height="20px" src="../recursos/iconos/003-logout.svg"></a>
            </li>
          </ul>
        </div>
      </nav>
</header>