<div class=Contenedor-InicioSesion>
  <form>
    <div class="form-group">
       <label for="subject">Correo Electrónico:</label>
       <br>
       <input type="email" class="form-control" required
         [(ngModel)]="model.subject" name="subject">
    </div>
    <div class="form-group">
       <label for="subject">Contraseña:</label>
       <br>
       <input type="text" class="form-control" required
         [(ngModel)]="model.Contrasena" name="subject">
    </div>
    <input class="ingresar" type="submit" title="Ingresar">
  </form>
</div>
